* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
    font-size: 12px;
    line-height: 20px;
}

body {
    overflow-y: none;
    background-color: #F2F2F2;
}

.moreMessagesIndicator {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 5px 0;
    display: none;
}

#message-container {
    overflow-y: scroll;
    height: 100%;
}

.entry-element:nth-of-type(1) {
    padding-top: 12px;
}

.entry-element {
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    margin-top: -3px;
    margin-bottom: -3px;
}

.username-element {
    font-weight: bold;
    display: inline-block;
}

.message-element {
    width: 100%;
    word-wrap: break-word;
}